.jumbotron {
	max-width: 30rem;
	padding: 3rem;
	padding-top: 2em;
	width: 100%;
	background: linear-gradient(to bottom, #4ca2cd, #67b26f);
}

.head {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

i {
	transform: scale(1.8);
}

.plus {
	margin-left: 40px;
}

#contact-form {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px 20px;
	border-radius: 5px;
	box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.3);
	margin-top: 1rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-danger.btn-sm {
	height: 1.8rem;
}

.hide {
	display: none !important;
}

.turn {
	transform: rotate(45deg) scale(1.8);
	transition: ease;
}

/* .fa-trash-alt {
	color: rgb(216, 50, 50);
	cursor: pointer;
	margin-top: 1px;
}
.fa-trash-alt:hover {
	color: rgb(177, 43, 43);
} */
.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40px;
}
/* .fa-pen-square {
	color: #18bc9c;
	cursor: pointer;
}
.fa-pen-square:hover {
	color: rgb(23, 165, 136);
} */
.card-header {
	cursor: pointer;
}
.collapse-card {
	color: rgb(210, 210, 210);
	margin-left: 50%;
	cursor: pointer;
	display: inline;
}
.collapse-card:hover {
	color: rgb(163, 163, 163);
}
.card-body {
	padding-bottom: 10px;
}
.fa-pen,
.fa-trash-alt {
	color: rgb(163, 163, 163);
	transform: scale(1.3);
}
.fa-trash-alt:hover {
	color: rgb(128, 126, 126);
}
.fa-pen:hover {
	color: rgb(128, 126, 126);
}

.title {
	color: white;
}
.card-open {
	opacity: 0.9;
	box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.3);
}
.card-close {
	opacity: 0.6;
}
